@page
@using FirstAuthentication.Data;
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post" action="/Login/ActionPost">
    <style>
        label {
            display: inline-block;
            min-width: 100px;
        }
    </style>
    <div>
        <label for="userName">口令：</label>
        <input type="text" name="userName" />
    </div>
    <div>
        <label for="passWord">密码：</label>
        <input type="password" name="passWord" />
    </div>
    <div>
        <button type="submit">登陆

        </button>
    </div>
</form>
